@media only screen and (min-width: 993px) { /*Desktop Devices > 992px*/
	.contact-block.container {
		width: 60%;
	}

	.notice-detail .col.photo-content  {
		width: 57%;
		margin-right: 1.33333%;
	}
}

@media only screen and (max-width : 992px) { /*Tablet Devices <= 992px*/
	.parallax-container {
		min-height: 500px;
	}

	.notice-detail .col.photo-content  {
		margin-bottom: 20px;
	}
}

@media only screen and (max-width : 600px) { /*Mobile Devices <= 600px*/
	.parallax-container {
		min-height: 400px;
	}

	.brand-logo img {
		width: 85%;
		margin-left: 15%;
	}
	
	nav .brand-logo.back-btn {
		padding: 12px 0;
	}

	.letter {
		width: 60px;
		height: 60px;
		left: 43%;
		top: -8%;
	}

	.letter .material-icons {
		font-size: 36px;
		line-height: 64px;
	}

}

@media only screen and (min-width : 993px) and (max-width: 1070px) {
	.card .card-action {
		padding: 10px;
	}
}

@media only screen and (max-width : 810px) { /*т к слишком большой круг*/
	.circle-box {
		width: 60%;
	}
}
@media only screen and (max-width : 510px) { 
	.circle-box .content{
		top: 25%;
	}

	.circle-box {
		width: 80%;
	}
}
@media only screen and (max-width : 384px) {
	.circle-box .content{
		top: 14%;
	}
}