<div id="index-banner" class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container ">

      <div class="circle-box white z-depth-1 hoverable">
        <div class="content row">
          <div class="col s9 offset-s2">
            <h5 class="header brown-text text-darken-4">Найди себе жилье</h5>
          </div>
          <div class="col s8 offset-s2">
            <select material-select>
              <option value="" disabled selected class="text-grey">Выберите город</option>
              <option value="1">Гомель</option>
              <!-- <option value="2">Option 2</option> -->
              <!-- <option value="3">Option 3</option> -->
            </select>
            <!-- <label>Materialize Select</label> -->
          </div>
          <div class="col s8 offset-s2">
            <a href="#/rent/1" class="waves-effect waves-light btn">Начать поиск</a>
          </div>
          
        </div>
      </div>

    </div>
  </div>
  <div class="parallax" parallax-init><img src="images/background5.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">border_color</i></h2>
          <h5 class="center">Современный дизайн</h5>

          <p class="light">Дизайн сайта разработан в стиле <a href="https://www.google.com/design/spec/material-design/introduction.html" target="_blank">Material Design</a>. Это очень красивый стиль, манящий своими тенями и яркими цветами. Мы выбрали его, по многим причинам, но основная из них это то, что сайт выглядит по-новому, не так как мы привыкли.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Постоянное добавление функционала</h5>

          <p class="light">Мы стремимся создать идеальную площадку для поиска жилья. Да да, именно идеальную. Поэтому мы постоянно будем добавлять новые функции на наш сайт, чтобы сделать ваш поиск удобным, быстрым и красивым. Вы всегда можете нам в этом помочь оставляя свои пожелания <a href="#/offers">здесь</a>.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">web</i></h2>
          <h5 class="center">Все объявления в одном месте</h5>

          <p class="light">Для эффективного поиска жилья наш сервис собирает объявления на многих других источниках и отображает их для вас. Во всех объявления, которые мы заимствуем, вы можете посмотреть источник, а также перейти на этот сайт и посмотреть объявления там.</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light white-text text-accent-1 with-bg">Надоело много времени тратить в поисках квартиры?</h5>
<!-- cyan-text text-accent-1 -->
      </div>
    </div>
  </div>
  <div class="parallax"><img src="images/search-engine.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Наш сервис поможет вам быстро найти жилье</h4>
        <p class="left-align light">Мы устали от сайтов, застрявших в 90-х, с неудобным функционалом, поэтому постарались сделать наш сервис максимально удобным и красивым. Если вам нужно разместить объявление или найти жилье, добро пожаловать к нам. И мы ждем ваших отзывов! Наши преимущества в том, что у нас вы найдете объявления с большинства белорусских сайтов, размещающих у себя объявления, связанные с арендой жилья. Вы, возможно, устали в поисках жилья, просматривая большое количество сайтов. Мы за вас соберем предложения и покажем вам в удобной форме. В тоже время мы не крадем информацию: в обязательном порядке указываем ссылки на все источники и ресурсы, которые мы используем. Мы делаем это, чтобы сделать ваш поиск жилья максимально комфортным.</p>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
		    <h4 class="header col s12 light with-bg">Мы регулярно прислушиваемся к вашим мнениям, и улучшаем сервис.</h4>
        <h5 class="header col s12 light">Следите за новостями в социальных сетях! <a href="https://vk.com/arenda_online_by" target="_blank">vk</a></h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="images/last1.jpg" alt="Unsplashed background img 3"></div>
</div>